<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" target ="_blank" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>

-->
<li>
  <a href="https://github.com/davbom97" target="_blank" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/in/davide-bombacigno-8100bb136/" target="_blank" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
  </a>
</li>